/node_modules
/artwork/_ignore
/artwork/github-preview.png
/artwork/github-preview-0.png
/artwork/github-preview-960.png
/artwork/github-preview-1280.png
/artwork/github-preview-bg.png
/core/dist
