html {
	font-family: sans-serif;
	font-size: 16px;
}

.row-active {
	background: lightgreen;
}

.slider-wrap {
	padding: 2em 3.5em;
}
.slider-track {
	border: 1px solid black;
	border-radius: 1px;
}
.slider-actual-track {
	position: relative;
	width: 100%;
}
.slider-bt {
	position: absolute;
	top: 0;
}
.slider-bt-handle {
	position: absolute;
	top: 0;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	background: #fff;
	border: 2px solid red;
	border-radius: 100%;
	transform: translateY(-50%);
	cursor: default;
}
.slider-bt-min .slider-bt-handle {
	right: 0;
}
.slider-bt-max .slider-bt-handle {
	left: 0;
}
